name: Java CI with Maven

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]
  workflow_dispatch:  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Compilar (clean + compile)
        run: mvn -B clean compile

      - name: Ejecutar tests
        run: mvn -B test

      - name: Empaquetar aplicación (Spring Boot JAR)
        run: mvn -B package -DskipTests=false

      - name: Subir artefacto JAR generado
        uses: actions/upload-artifact@v4
        with:
          name: Backend-DinoChomp
          path: target/*.jar

      - name: Update dependency graph (Dependabot)
        uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
